@page "/"

<PageTitle>Ursus Aureus Holding LLC</PageTitle>

<!-- <h1>About</h1>
could be in another page? Nav? -->

<!-- <h1>Current Holdings</h1>
Also could be another page. OR add anchors for these elements -->

<!-- <h1>Contact Us</h1>
Looknig for an investor? leads to page or.... again, bottom? Anchor? -->



